packages/sano1233/n8n/workflows/user-onboarding.json
{
  "name": "User Onboarding Workflow",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "user-signup",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [450, 300],
      "webhookId": "fitness-saas-signup"
    },
    {
      "parameters": {
        "functionCode": "const { user } = $input.first().json;\n\n// Extract user data\nconst userData = {\n  userId: user.id,\n  email: user.email,\n  fitnessLevel: user.fitness_level || 'beginner',\n  goal: user.fitness_goal || 'general_fitness'\n};\n\nreturn { json: userData };"
      },
      "name": "Process User Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "http://nextjs-app:3000/api/workouts/welcome",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "userId",
              "value": "={{ $json.userId }}"
            },
            {
              "name": "fitnessLevel",
              "value": "={{ $json.fitnessLevel }}"
            },
            {
              "name": "goal",
              "value": "={{ $json.goal }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Generate Welcome Workout",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [850, 300]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "sendGridApi",
        "fromEmail": "noreply@fitai.com",
        "toEmail": "={{ $('Process User Data').item.json.email }}",
        "subject": "Welcome to FitAI - Your Personalized Workout Awaits!",
        "emailType": "html",
        "message": "=<h1>Welcome to FitAI!</h1><p>Hi there,</p><p>We're excited to have you join our fitness community. Your personalized workout plan is ready!</p><p><a href=\"http://localhost:3000/dashboard\">View Your Dashboard</a></p><p>Let's get started on your fitness journey!</p><p>Best regards,<br>The FitAI Team</p>"
      },
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'User onboarding completed' } }}"
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Process User Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process User Data": {
      "main": [
        [
          {
            "node": "Generate Welcome Workout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Welcome Workout": {
      "main": [
        [
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Email": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1",
  "id": "1"
}
