n8n-workflows/repo-automation.json
{
  "name": "GitHub Repository Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-github",
      "name": "GitHub Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "github-repo-automation"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.event }}",
              "operation": "equals",
              "value2": "pull_request"
            }
          ]
        }
      },
      "id": "if-pr-event",
      "name": "Is PR Event?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/sano1233/istani/actions/workflows/auto-fix-and-merge.yml/dispatches",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ref",
              "value": "main"
            }
          ]
        },
        "options": {}
      },
      "id": "trigger-auto-fix",
      "name": "Trigger Auto-Fix Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "github-token",
          "name": "GitHub Token"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/sano1233/{{ $json.repository.name }}/pulls/{{ $json.pull_request.number }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-pr-details",
      "name": "Get PR Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "github-token",
          "name": "GitHub Token"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.mergeable }}",
              "operation": "equals",
              "value2": "true"
            }
          ]
        }
      },
      "id": "is-mergeable",
      "name": "Is Mergeable?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/sano1233/{{ $json.repository.name }}/pulls/{{ $json.pull_request.number }}/merge",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "merge_method",
              "value": "squash"
            },
            {
              "name": "commit_title",
              "value": "Auto-merge: {{ $json.pull_request.title }}"
            }
          ]
        },
        "options": {}
      },
      "id": "auto-merge-pr",
      "name": "Auto-Merge PR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "github-token",
          "name": "GitHub Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_WEBHOOK_URL }}/api/n8n/webhook",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "event",
              "value": "deployment.request"
            },
            {
              "name": "repo",
              "value": "={{ $json.repository.name }}"
            },
            {
              "name": "commit",
              "value": "={{ $json.pull_request.merge_commit_sha }}"
            }
          ]
        },
        "options": {}
      },
      "id": "trigger-deployment",
      "name": "Trigger Deployment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"PR processed and deployed\" } }}"
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "GitHub Webhook": {
      "main": [
        [
          {
            "node": "Is PR Event?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is PR Event?": {
      "main": [
        [
          {
            "node": "Trigger Auto-Fix Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get PR Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get PR Details": {
      "main": [
        [
          {
            "node": "Is Mergeable?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Mergeable?": {
      "main": [
        [
          {
            "node": "Auto-Merge PR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-Merge PR": {
      "main": [
        [
          {
            "node": "Trigger Deployment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Deployment": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
